:root{
    --color-white: #ffffff;
    --bg-partSix: #e7e7e7;
    --error-message: #ff0000;
}

#mainBody{
    margin: 0;
    padding: 0;
}

#partOne{
    background-image: url('/assets/images/headerImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}


#partFour{
    background-image: url('/assets/images/plain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

#partFive{
    background-image: url('/assets/images/footerImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

#formDiv .figure-img{
    width: 35%;
}

.card .figure-img{
    margin-top: 10px;
    width: 35%;
}

#partTwo .card:hover{
    cursor: pointer;
}

#partTwo .card .figure-img{
    width: 100%;
}

#partFour .tripImages{
    opacity: 0.8;
    height: 250px;
    width: 350px;
}

#partFour .tripImages:hover{
    cursor: pointer;
    opacity: 1;
}

#logo{
    font-size: 25px;
}

.top-row1-primary{
    font-size: 50px;
}

.top-row1-secondary{
    font-size: 30px;
}

.top-row1-small{
    font-size: 20px;
}

#partSix{
    background: var(--bg-partSix);
}

.form-group{
    position: relative;
}

#nameError{
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: var(--error-message);
}

#emailError{
    position: absolute;
    right: 26px;
    bottom: 10px;
    color: var(--error-message);
}

#phoneError{
    position: absolute;
    right: 26px;
    bottom: 10px;
    color: var(--error-message);
}